[Desktop Entry]
Type=Application
Name=Arduino IDE
GenericName=Arduino IDE
Comment=Open-source electronics prototyping platform
Exec=~/.config/firejail/setup.sh arduino
Icon=arduino-ide
Categories=Development;IDE;Electronics;
