[Desktop Entry]
Type=Application
Name=JetBrains Toolbox
Exec=~/.config/firejail/setup.sh jetbrains
Icon=jetbrains
StartupNotify=false
Terminal=false
MimeType=x-scheme-handler/jetbrains;
X-AppImage-Integrate=false
